<h1>Listing articles</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.text %></td>
        <td><%= link_to 'Show', article %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article', new_article_path %>

<hr>
<h2>Delayed Job</h2>

<div><%= link_to 'Delayed Job Test', status_dj_path %></div>
<div><%= link_to 'Delayed Job Status', '/delayed_job' %></div>

<h2>Resque</h2>

<div><%= link_to 'Resque Test', status_resque_path %></div>
<div><%= link_to 'Resque Status', '/resque' %></div>
